.containerRegister {
  font-family: Arial, sans-serif;
  background-color: #0a0808;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 30px 30px 40px;
  position: relative;
}

.container {
  display: flex;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.642);
  background-color: #000000;
  border-radius: 8px;
  overflow: hidden;
}

.left_section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_section img {
  width: 100%;
  height: 100%;
}

.right_section {
  padding: 30px;
  width: 50%;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ff0000;
}

form {
  display: flex;
  flex-direction: column;
}

.input_group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  color: #565656;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #424242;
  border-radius: 4px;
}

.radio_group {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

button {
  padding: 12px;
  font-size: 16px;
  background-color: #ff0000;
  color: #0a0909;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #565555;
}

.success {
  color: rgb(106, 255, 106);
}

.error {
  color: #ff0000;
}
